/* styles */
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.woff2") format("woff2"),
      url("../fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Bold.woff2") format("woff2"),
      url("../fonts/ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Italic.woff2") format("woff2"),
      url("../fonts/ProductSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-BoldItalic.woff2") format("woff2"),
      url("../fonts/ProductSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* genral styles */
:root {
  --main-blue: #00bafc;
}
body {
  margin: 0;
  margin-top: 56px;
  padding: 0;
  font-family: "Product Sans", "Arial", sans-serif;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
.container {
  max-width: 1148px;
  margin: 0 auto;
  padding: 0 24px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}
.main-button {
  display: inline-block;
  line-height: 24px;
  font-size: 15px;
  padding: 8px 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--main-blue);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  text-decoration: none;
}
  .main-button:hover {
    background-color: rgba(0, 186, 252, 0.8);
  }
  .main-button:active {
    opacity: 0.6;
  }
/* =====header====  */
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  padding: 18px 0;
}
  .logo-link:hover {
    opacity: 0.8;
  }
  .logo-link:active {
    opacity: 0.4;
  }
.header-img {
  display: block;
  width: 58px;
  height: 20px;
}
.header-nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  .drop-father:hover .dropdown{
    display: block;
  }
  .header-item:hover {
    box-shadow: inset 0px -3px 0 black;
  }
.header-link {
  display: block;
  padding: 16px;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
  .header-link:active {
    background-color: rgba(25, 25, 25, 0.7);
  }
  .header-link:active {
    color: #ffffff;
  }
.header-tel {
  padding: 5px 8px;
  margin-left: 16px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  border: 3px solid var(--main-blue);
  border-radius: 5px;
  background-color: var(--main-blue);
  text-decoration: none;
}
  .header-tel:hover {
    color: var(--main-blue);
    background-color: #ffffff;
  }
  .header-tel:active {
    opacity: 0.6;
    color: #ffffff;
    background-color: var(--main-blue);
  }
.drop-father {
  position: relative;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  margin: 0;
  padding: 8px 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  list-style-type: none;
}
.dropdown-link {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}
  .dropdown-link:hover {
    color: #fff;
    background-color: var(--main-blue);
  }
  .dropdown-link:active {
    opacity: 0.6;
  }
  .business {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
  }
  .business-left {
    width: 465px;
  }
  .business-heading {
    margin: 0;
  }
  .business-text {
    margin: 16px 0;
  }
  .business-video {
    border: none;
    border-radius: 5px;
  }

/* xizmatlar */
.xizmatlar-heading {
  text-align: center;
  font-size: 24px;
  line-height: 1.3;
}
.xizmatlar-text {
  width: 720px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.xizmatlar-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  list-style-type: none;
}
.xizmatlar-item {
  flex-shrink: 0;
  width: 320px;
  padding: 24px 0;
  margin-top: 24px;
  margin-right: 65px;
  margin-bottom: 24px;
  background-color: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.xizmatlar-item:last-child,
.xizmatlar-item:nth-child(3) {
  margin-right: 0;
}
.xizmatlar-link {
  text-decoration: none;
  color: #191919;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .text-wrapper::before {
    content: "";
    width: 222px;
    height: 130px;
    margin-bottom: 16px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .website-illustration::before {
    background-image: url("../img/website-illustration.svg");
  }
  .bot-illustration::before {
    background-image: url("../img/bot-illustration.svg");
  }
  .smm-illustration::before {
    background-image: url("../img/smm-illustration.svg");
  }
  .design-illustration::before {
    background-image: url("../img/design-illustration.svg");
  }
  .crm-illustration::before {
    background-image: url("../img/crm-illustration.svg");
  }
.link-heading {
  margin-bottom: 16px;
  font-weight: 700;
}
.link-text {
  text-align: justify;
  padding: 0 24px;
}
.xizmatlar-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.xizmatlar-link-btn {
  margin-left: 16px;
  text-decoration: underline;
  color: var(--main-blue);
}