/* styles */
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.woff2") format("woff2"),
      url("../fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Bold.woff2") format("woff2"),
      url("../fonts/ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Italic.woff2") format("woff2"),
      url("../fonts/ProductSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-BoldItalic.woff2") format("woff2"),
      url("../fonts/ProductSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* genral styles */
:root {
  --main-blue: #00bafc;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Product Sans", "Arial", sans-serif;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
.container {
  max-width: 1148px;
  margin: 0 auto;
  padding: 0 24px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}
.main-button {
  padding: 8px 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--main-blue);
  border-radius: 5px;
}

/* =====header====  */
.header {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  padding: 18px 0;
}
  .logo-link:hover {
    opacity: 0.8;
  }
  .logo-link:active {
    opacity: 0.4;
  }
.header-img {
  display: block;
  width: 58px;
  height: 20px;
}
.header-nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  .drop-father:hover .dropdown{
    display: block;
  }
  .header-item:hover {
    box-shadow: inset 0px -3px 0 black;
  }
.header-link {
  display: block;
  padding: 16px;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
  .header-link:active {
    background-color: rgba(25, 25, 25, 0.7);
  }
  .header-link:active {
    color: #ffffff;
  }
.header-tel {
  padding: 5px 8px;
  margin-left: 16px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  border: 3px solid var(--main-blue);
  border-radius: 5px;
  background-color: var(--main-blue);
  text-decoration: none;
}
  .header-tel:hover {
    color: var(--main-blue);
    background-color: #ffffff;
  }
  .header-tel:active {
    opacity: 0.6;
    color: #ffffff;
    background-color: var(--main-blue);
  }
.drop-father {
  position: relative;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  margin: 0;
  padding: 8px 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  list-style-type: none;
}
.dropdown-link {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}
  .dropdown-link:hover {
    color: #fff;
    background-color: var(--main-blue);
  }
  .dropdown-link:active {
    opacity: 0.6;
  }